<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="DialogScriptDSL">
         <property
               name="appName"
               value="DialogScriptDSL">
         </property>
         <property
               name="startupProgressRect"
               value="5,283,490,14">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/icon16.png,icons/icon32.png,icons/icon48.png,icons/icon64.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,269,490,18">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="de.unidue.ecg.dialogScript.product.hideJavaPerspective"
            name="hideJavaPerspective">
      </activity>
      <activityPatternBinding
            activityId="de.unidue.ecg.dialogScript.product.hideJavaPerspective"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.JavaPerspective">
      </activityPatternBinding>
      <activity
            id="de.unidue.ecg.dialogScript.product.hideDebugPerspective"
            name="hideDebugPerspective">
      </activity>
      <activityPatternBinding
            activityId="de.unidue.ecg.dialogScript.product.hideDebugPerspective"
            isEqualityPattern="true"
            pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.DebugPerspective">
      </activityPatternBinding>
      <activity
            id="de.unidue.ecg.dialogScript.product.hideJavaHierarchyPerspective"
            name="hideJavaHierarchy">
      </activity>
      <activityPatternBinding
            activityId="de.unidue.ecg.dialogScript.product.hideJavaHierarchyPerspective"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.JavaHierarchyPerspective">
      </activityPatternBinding>
      <activity
            id="de.unidue.ecg.dialogScript.product.hideJavaBrowsingPerspective"
            name="hideJavaBrowsingPerspective">
      </activity>
      <activityPatternBinding
            activityId="de.unidue.ecg.dialogScript.product.hideJavaBrowsingPerspective"
            isEqualityPattern="false"
            pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.JavaBrowsingPerspective">
      </activityPatternBinding>
      <activity
            id="de.unidue.ecg.dialogScript.product.hideTeamSynchronizing"
            name="hideTeamSynchronizing">
      </activity>
      <activityPatternBinding
            activityId="de.unidue.ecg.dialogScript.product.hideTeamSynchronizing"
            isEqualityPattern="true"
            pattern="org.eclipse.team.ui/org.eclipse.team.ui.TeamSynchronizingPerspective">
      </activityPatternBinding>
   </extension>
</plugin>
